<a href="#/families">Go Back</a>
<div class="panel panel-default" ng-init="getFamily()">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        </p>{{family.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Genre: {{family.name}}</li>
          <li class="list-group-item">Author: {{family.description}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#/families/edit/{{family._id}}">Edit</a> |  <a href="#" ng-click="removeFamily(family._id)">Delete</a>
  </div>